# Ignore object files
*.o

# Ignore all executables
*.exe

# Ignore specific executables
MiniSearchEngine

# Ignore binary files
*.bin

# Ignore VSCode settings folder
.vscode/

# Ignore the .gitignore file itself
.gitignore